@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #282c34;
  --greenColor: rgba(6, 95, 70, 1);
  --yellowColor: rgba(251, 191, 36, 1);
  --redColor: rgba(220, 38, 38, 1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-size: calc(10px + 2vmin); */

.MainColor {
  background-color: var(--mainColor);
}
.greenColor {
  background-color: var(--greenColor);
}
.yellowColor {
  background-color: var(--yellowColor);
}
.redColor {
  background-color: var(--redColor);
}

.imgOut {
  max-width: 35%;
  max-height: 35vh;
}

.animation1 {
  animation-name: brokenAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes brokenAnimation {
  25% {
    transform: rotate(-90deg);
  }
  70% {
    transform: translate(0, 65vh);
  }
}
